@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lexend";
  src: url("../src/fonts/LexendDeca-VariableFont_wght.ttf");
}
* {
  -webkit-tap-highlight-color: transparent;
}
body {
  touch-action: manipulation;
  background-color: #f3f3f3;
}

.position2 {
  transform: scale(1.1);
}

.card {
  transition: all 2s;
}

.my-atropos {
  width: 30px;
  height: 30px;
}

.flex.cursor-pointer {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flex.cursor-pointer:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slick-dots li.slick-active button:before {
  color: #2e7cf6; /* Change the color as you wish */
}

.slick-dots li {
  margin: 0 1px; /* Adjust as needed */
}

.slick-arrow slick-next {
  background: #000;
}


/* In your styles.css file */
@keyframes flash {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}

/* Tailwind CSS custom animation utilities */
.animate-flash {
  animation-name: flash;
  animation-duration: 100ms;
  animation-delay: 0s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-iteration-count: 20000;
  animation-fill-mode: forwards;
}

a {
  color: #2E7CF6; /* or any color of your choice */
}

a:hover {
  color: #6d9ee5; /* or any color of your choice for hover state */
}